!!!5
%html{lang: 'en', class: 'no-js'}
  %head

    = partial 'layouts/partials/head'

  %body
    = partial 'layouts/partials/header'

    = yield

    = partial 'layouts/partials/footer'

  = partial 'layouts/partials/foot'